@font-face {
  font-family: "iconfont";
  /* Project id 3536357 */
  src: url('iconfont.woff2?t=1658320598148') format('woff2'),
    url('iconfont.woff?t=1658320598148') format('woff'),
    url('iconfont.ttf?t=1658320598148') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shutiao:before {
  content: "\e658";
}

.icon-kele:before {
  content: "\e65c";
}

.icon-hanbao:before {
  content: "\e65e";
}

.icon-nuomici:before {
  content: "\e69f";
}

.icon-lishi:before {
  content: "\e606";
}

.icon-shezhi:before {
  content: "\e604";
}

.icon-dingdan:before {
  content: "\e617";
}

.icon-xihuan:before {
  content: "\e643";
}

.icon-tuichu:before {
  content: "\e69e";
}

.icon-huiyuan:before {
  content: "\e683";
}

.icon-zhuye:before {
  content: "\e60c";
}

.icon-tixing:before {
  content: "\e608";
}

.icon-pengyouquan:before {
  content: "\e61e";
}